/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 22, 2016, 8:29:53 PM
    Author     : JISHNU T U
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 19, 2016, 5:38:43 PM
    Author     : JISHNU T U
*/
topnav{display:block; position:absolute; top:64px; right:0; height:45px; color:#FFFFFF; background-color:#294E79; font-weight:bold; font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif;}
#topnav ul{list-style:none; margin:0; padding:0;}
#topnav li{float:left;}
#topnav li a:link, #topnav li a:visited{display:block; margin:0 15px 0 0; padding:14px 15px; color:#FFFFFF; background-color:#3D73B1;}
#topnav li a:hover, #topnav li a.active{color:#666666; background-color:#F5F5F5;}
#topnav li li a:link, #topnav li li a:visited{width:150px; float:none; margin:0; padding:7px 10px; font-size:12px; font-weight:normal; color:#FFFFFF; background-color:#3D73B1;}
#topnav li li a:hover{color:#FFFFFF; background-color:#F5F5F5;}
#topnav li ul{background:#FFFFFF; z-index:9999; position:absolute; left:-999em; height:auto; width:170px; border:1px solid #E6E6E6; border-top:none; border-right:none;}
#topnav li ul a{width:140px;}
#topnav li ul ul{margin:-32px 0 0 0;}
#topnav li:hover ul ul{left:-999em;}
#topnav li:hover ul, #topnav li li:hover ul{left:auto;}
#topnav li:hover{position:static;}
#topnav li.last a{margin-right:0;}


table{width:100%; border-collapse:collapse; table-layout:auto; vertical-align:top; margin-bottom:15px; border:1px solid #CCCCCC;}
table thead th{color:#FFFFFF; background-color:#666666; border:1px solid #CCCCCC; border-collapse:collapse; text-align:center; table-layout:auto; vertical-align:middle;}
table tbody td{vertical-align:top; border-collapse:collapse; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
table thead th, table tbody td{padding:5px; border-collapse:collapse;}
table tbody tr.light{color:#666666; background-color:#F7F7F7;}
table tbody tr.dark{color:#666666; background-color:#E8E8E8;}


html{overflow-y:scroll;}
body{margin:0; padding:0; font-size:13px; font-family:verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; background-color:#4F473A;}

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style-type:none;}

.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}

a{outline:none; text-decoration:none;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

img{margin:0; padding:0; border:0;}
.imgl, .imgr{border:1px solid #CCCCCC; padding:5px; color:#666666; background-color:#F7F7F7;}
.imgl{margin:0 8px 8px 0; clear:left;}
.imgr{margin:0 0 8px 8px; clear:right;}

/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{display:block; width:100%; margin:0; text-align:left;}
.col1{color:#FFFFFF; background-color:#294E79;}
.col2{color:#666666; background-color:#F5F5F5;}
.col2 a{color:#294E79; background-color:#F5F5F5;}
.col3, .col4{color:#666666; background-color:#FFFFFF;}
.col5{color:#FFFFFF; background-color:#1C3451;}

/* ----------------------------------------------Generalise------------------------------------- */

#head, #gallery, #breadcrumb, #container, #footer{display:block; position:relative; width:960px; margin:0 auto;}

/* ----------------------------------------------Head------------------------------------- */

#head{height:110px; z-index:1000;}
#head h1, #head p, #head ul, #head a{margin:0; padding:0; list-style:none; line-height:normal;}
#head h1 a{position:absolute; top:20px; left:0; font-size:38px; font-weight:normal; color:#FFFFFF; background-color:#294E79; font-family:Georgia, "Times New Roman", Times, serif;}
#head p{display:block; position:absolute; top:65px; left:0; color:#F5F5F5; background-color:#294E79; font-size:16px; font-family:Georgia, "Times New Roman", Times, serif;}

/* ----------------------------------------------Breadcrumb Navigation------------------------------------- */

#breadcrumb{padding:20px 0;}
#breadcrumb a{font-weight:bold;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb ul li{display:inline;}
#breadcrumb ul li.first{font-weight:bold;}
#breadcrumb ul li.current a{text-decoration:underline;}

/* ----------------------------------------------Container------------------------------------- */

#container{padding:40px 0;}
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{margin:0 0 15px 0; padding:0 0 15px 0; line-height:normal; font-weight:normal; font-size:20px; font-family:Georgia, "Times New Roman", Times, serif; border-bottom:1px dashed #666666;}
#container a{color:#FFFF00; background-color:#FFFFFF;}

/* ----------------------------------------------Content------------------------------------- */

#content{display:block; float:left; width:630px;}

/* Comments */

#comments{margin-bottom:40px;}
#comments .commentlist{margin:0; padding:0;}
#comments .commentlist ul{margin:0; padding:0; list-style:none;}
#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}
#comments .commentlist li.comment_odd{color:#666666; background-color:#F7F7F7;}
#comments .commentlist li.comment_odd a{color:#294E79; background-color:#F7F7F7;}
#comments .commentlist li.comment_even{color:#666666; background-color:#E8E8E8;}
#comments .commentlist li.comment_even a{color:#294E79; background-color:#E8E8E8;}
#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}
#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight:normal; text-transform:none;}
#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Right Block------------------------------------- */

#column{display:block; float:right; width:300px;}
#column .holder, #column #featured{display:block; width:300px; margin-bottom:40px;}
#column .holder p{line-height:1.6em;}
#column .holder h2.title{display:block; width:100%; height:65px; margin:0; padding:15px 0 8px 0; font-size:20px; font-weight:normal; color:#666666; background-color:#FFFFFF; line-height:normal; border-bottom:1px dashed #CCCCCC;}
#column .holder h2.title img{float:left; margin:-15px 8px 0 0; padding:5px; color:#666666; background-color:#F7F7F7; border:1px solid #CCCCCC;}
#column .holder p.readmore{display:block; width:100%; font-weight:bold; text-align:right; line-height:normal;}
#column div.imgholder{display:block; width:290px; margin:0 0 10px 0; padding:4px; color:#666666; background-color:#F7F7F7; border:1px solid #CCCCCC;}

/* Featured Block */

#column #featured a{color:#294E79; background-color:#F9F9F9;}
#column #featured ul, #column #featured h2, #column #featured p{margin:0; padding:0; list-style:none;}
#column #featured li{display:block; width:250px; margin:0; padding:20px 25px; color:#2E271D; background-color:#F9F9F9;}
#column #featured li p{line-height:1.6em;}
#column #featured li p.imgholder{display:block; width:240px; height:90px; margin:20px 0 15px 0; padding:4px; border:1px solid #CCCCCC;}
#column #featured li h2{margin:0; padding:0 0 14px 0; font-size:20px; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; color:#666666; background-color:#F9F9F9; line-height:normal; border-bottom:1px dashed #666666;}
#column #featured p.more{display:block; width:100%; margin-top:15px; font-weight:bold; text-align:right; line-height:normal;}

/* ----------------------------------------------Footer------------------------------------- */

#footer{padding:20px 0;}
#footer a{color:#98B7DC; background-color:#1C3451;}
#footer h2{margin:0 0 15px 0; padding:0 0 8px 0; font-size:22px; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; color:#CCCCCC; background-color:#1C3451; line-height:normal; border-bottom:1px dashed #CCCCCC;}
#contactform{display:block; float:left; width:350px;}

/* ------Company Details------ */

#compdetails{display:block; float:right; width:550px;}
#compdetails ul{margin:0; padding:0; list-style:none;}
#compdetails li{margin:0 0 12px 0;}
#compdetails li.last{margin:0;}
#officialdetails{float:left}
#officialdetails li.last{margin-bottom:20px;}
#contactdetails{float:right}

/* ------Copyright------ */

#copyright{display:block; float:left; width:100%; margin:25px 0 0 0; padding:20px 0 0 0; font-size:12px; border-top:1px dashed #666666;}
#copyright p{margin:0; padding:0;}


gallery{padding:40px 0;}
#gallery h1, #gallery p, #gallery ul, #gallery a{margin:0; padding:0; list-style:none; line-height:normal;}
#gallery li{display:inline;}
#gallery .placeholder{display:block; float:left; width:640px; height:349px; margin:0; padding:4px; color:#666666; background-color:#F5F5F5; border:1px solid #DADADA; text-indent:-9999px;}
#gallery a.swap:link, #gallery a.swap:visited, #gallery a.swap:hover{display:block; float:left; width:290px; height:105px; margin:0 0 7px 10px; padding:4px; color:#666666; background-color:#F5F5F5; border:1px solid #DADADA; cursor:default;}
#gallery li.placeholder, #gallery a.swap{background:4px 4px no-repeat;}
#gallery li.last a.swap{margin-bottom:0;}

a.swap:hover{white-space:normal;}
a.swap:link strong, a.swap:visited strong, a.swap:active strong{display:none;}
a.swap:link span, a.swap:visited span, a.swap:active span{visibility:hidden; position:absolute; top:45px; left:5px; width:640px; height:349px;}
a.swap:active span, a.swap:hover span, a.swap:focus span{visibility:visible;}
a.swap:active img, a.swap:focus img{position:relative; z-index:50;}

/* ----------------------------------------------Middle Content Block------------------------------------- */

#content .homecontent{display:block; width:630px; margin:20px 0 0 0; padding:0;}
#content .homecontent ul{margin:0; padding:0; list-style:none;}
#content .homecontent li{display:block; float:left; width:300px; margin:0 30px 0 0; padding:0;}
#content .homecontent li.last{margin-right:0;}
#content .homecontent li p.imgholder{display:block; width:286px; height:100px; margin:0 0 15px 0; padding:6px; color:#666666; background-color:#F7F7F7; border:1px solid #CCCCCC;}
#content .homecontent li h2{margin:0; padding:0 0 8px 0; font-size:13px; font-weight:bold; color:#666666; background-color:#FFFFFF; line-height:normal; border-bottom:1px dashed #CCCCCC;}
#content .homecontent p.readmore{display:block; width:300px; font-weight:bold; text-align:right; line-height:normal;}


form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}

/* ----------------------------------------------Search Form------------------------------------- */

#search{display:block; width:285px; position:absolute; top:10px; right:0;}
#search input{display:block; width:229px; margin:0; padding:5px; color:#FFFFFF; background-color:#1C3451; border:1px solid #4A80C1; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
#search input#go{display:block; float:right; width:auto; height:auto; margin:0; padding:4px;}

/* ----------------------------------------------Forms in Content Area------------------------------------- */

#container #respond{display:block; width:100%;}
#container #respond input{width:170px; padding:2px; border:1px solid #CCCCCC; margin:5px 5px 0 0;}
#container #respond textarea{width:98%; border:1px solid #CCCCCC; padding:2px; overflow:auto;}
#container #respond p{margin:5px 0;}
#container #respond #submit, #container #respond #reset{margin:0; padding:5px; color:#666666; background-color:#F7F7F7; border:1px solid #CCCCCC;}

/* ----------------------------------------------Contact Form in Footer------------------------------------- */

#contactform form{margin:0; padding:0; border:none; line-height:normal;}
#contactform label{display:inline; width:170px; float:left; margin:0 0 12px 0; padding:0;}
#contactform label.margin{margin-left:10px;}
#contactform label input, #contactform label textarea{display:block; width:162px; margin:5px 0; padding:3px; color:#000000; background-color:#F7F7F7; border:1px solid #CCCCCC;}
#contactform label textarea{display:block; width:342px; overflow:auto;}
#contactform p{display:block; width:350px; margin:0; padding:0; clear:both;}
#contactform p input{padding:5px 10px; color:#666666; background-color:#F7F7F7; border:1px solid #CCCCCC;}